:root{
    font-size: 3vw;
}
*{
    cursor:none;
    user-select:none;
    margin: 0.1rem;
    scrollbar-width: none;
    scrollbar-color: #ffffff #ffffff;
}
*::selection{
    background-color: #ffffff;
}
*::-webkit-scrollbar{
    display: none;
}
input{
    font-size:0.8rem;
    padding:0.5em;
    width: 10em;
    border: 1px solid #121212;
    letter-spacing: 0.6em;
}
::placeholder{
    letter-spacing: 0.1em;
}

body{
    padding: 27vh 3vw 3vw 3vw;
}
@media (max-width: 700px){
    :root{
        font-size: 8vw;
    }
}
#test{
    font-size: 70%;
    font-family:monospace
}
iframe{
    margin:auto;
    width: 50vw;
    height: 60vw;
}
#wiwi{
    display: none;
    width:0.6rem;
    height:0.6rem;
    border-radius: 50%;
    background-color: #d10000f1;
    position: fixed;
    top:0;
    left:0;
    transition: all 0.1s ease-in-out
}
